.sideBar
  width 38%
  height 100%
  position absolute
  right 0
  font-size 14px
  font-size 1.4rem

.function
  width 100%
  margin 10px 0 0 0

.name
  text-align center
  background black
  color white
  padding 5px
  
.controls
  width 100%
  padding 10px
  
#compositionTools > a
  display block