body{
  background-color: rgba(245,255,254n,1);
  color: rgba(40, 40, 20, 1)
}

h1, h2, h3, h4, h5{
  text-align:center
}

.mw440{
  max-width: 440px
}

#content h3{
  margin-top:11px
}

.script h3:nth-of-type(2n + 1), #content p:nth-of-type(2n+1){
  background:rgba(2, 200, 2, .1);

}

.scripts h3:nth-of-type(2n + 2), #content p:nth-of-type(2n+2){
  background:rgba(250, 255, 215, 1);

}